*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

/* Header/Hero section */

.hero{
    padding: 0 250px 180px;
    background-color: #1f2937;
}

.header{
    display: flex;
    display: flex;
    flex-direction: column;
    font-family: roboto, sans-serif;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin-bottom: 120px;
}
.header .logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

.links{
    display: flex;
    align-items: center;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}

a,
.intro-text{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.intro-text{
    margin: 10px 0px;
}

.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.intro img{
    width: 620px;
    height: 300px;
    flex-shrink: 0;
}

.intro-title{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
button{
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 20px;
    padding: 8px 38px;
    border-radius: 8px;
}

/* Card section */

.card_section{
    text-align: center;
    padding: 50px;
}

.card_title{
    font-size: 32px;
    font-weight: 900;
    color: #1f2937;
}

.card_section .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px; /* space between cards */
    padding: 100px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
    gap: 15px;
}

.card img{
    border-radius: 28px;
    border: 5px solid rgb(0, 166, 255);
    width: 200px;
}

/* Quote Section */
.extra_info{
    background-color: #e5e7eb;
    padding: 180px 280px;
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
}

.extra_info strong{
    display: block;
    text-align: end;
    font-weight: bold;
    margin: 10px  30px 0 0;
}

/* sign in section */
.sign-up{
    display: flex;
    padding: 120px 250px;
    justify-content: center;
    align-items: center;
}

.sign-up-card{
    display: flex;
    padding: 60px 150px;
    justify-content: space-between;
    color: #e5e7eb;
    background-color: #3882f6;
    flex: 1;
    align-items: center;
    border-radius: 12px;
}

.sign-up-title{
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.sign-up-sub-text{
    font-size:  18px;
}

.sign-up button{
    border: 2px solid white;
}

/* footer */
.footer{
    background-color: #1f2937;
    padding: 38px;
    color: white;
    text-align: center;
    font-size: 26px;
}

